{% load cms_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Skype plugin for archiving conversation logs to mailbox." />
    <meta name="keywords" content="Skype,log,logs,mailbox,chat,chats" />
    <meta name="author" content="Y-NODE Software" />
    <title>{% page_attribute page_title %} | Mailbox Log Archiver for Skype</title>
    <link href="/media/img/favicon.ico" rel="shortcut icon"/>
    <link href="/media/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 7]>
	<style>
	  .cn{filter: expression(fixPNG(this));}
	</style>
	<script type="text/javascript" src="/media/js/ie6-fix.js"></script>
	<![endif]-->
    
  </head>

  <body topmargin="0" bottommargin="0" leftmargin="0" rightmargin="0">
    <div class="wrapper">
      <!--main -->
      {% block content %}
      
      {% endblock content %}
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-4940043-3");
      pageTracker._trackPageview();
      } catch(err) {}</script>
  </body>
</html>
